{% extends "base.html" %}

{% block content %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body class="d-flex align-items-center py-4 bg-body-tertiary">
<main class="form-signin w-100 m-auto">
  <form action="" method="post">
    {{ form.hidden_tag() }}
    <a href="/"><img src="{{ url_for('static', filename='img/base/logo.png') }}" width="180px"></a>
    <h1 class="mb-4 mt-4 text1">{{ _('Password Reset') }}</h1> <!-- Use translation function -->

    <div class="form-floating">
        {{ form.email(type="email", class="form-control", id="floatingInput", placeholder="name@example.com", disabled=field_disabled) }}
        <label for="floatingInput">{{ _('Email') }}</label>
        {% for error in form.email.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </div>

    <div class="form-floating">
        {{ form.curr_password(type="password", class="form-control", id="floatingPassword", placeholder="{{ _('Current Password') }}") }}
        <label for="floatingPassword">{{ _('Current Password') }}</label>
        {% for error in form.curr_password.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </div>

    <hr style="width: 90%; height: 2px; display: flex; margin: 10px auto;">

    <div class="form-floating" style="margin-top: 10px;">
        {{ form.new_password(type="password", class="form-control", id="floatingNewPassword", placeholder="{{ _('New Password') }}") }}
        <label for="floatingNewPassword">{{ _('New Password') }}</label>
        {% for error in form.new_password.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </div>

    <p style="margin-top: 10px;">{{ form.submit(class="btn btn-primary w-100 py-2 fs-5 fw-bold", type="submit", value=_('Submit')) }}</p>
    <div>{{ message }}</div>
  </form>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
{% endblock %}
