.container {
    background-color: #fff;
    padding: 0px 40px 40px;
    border-radius: 10px;
    max-width: 1200px;
    margin: 0 auto;
}

.page-title {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 3rem;
    letter-spacing: 1px;
    color: #5c5555;
}

.class-icon {
    font-size: 4.5rem;
    margin: 0 20px 0 0;
    color: #5c5555;
}

.class-card {
    background-color: transparent;
    border-radius: 15px;
    border: 3px solid #c26381;
    box-shadow: 9px 12px 0px 0px #c26381;
    padding: 40px;
    transition: box-shadow 0.2s ease-in-out;
}

.class-card:hover {
    box-shadow: 12px 15px 0px 0px #c26381;
}

.class-name {
    font-size: 1.8rem;
    color: #5c5555;
    margin-bottom: 10px;
}

.class-phones {
    margin-bottom: 20px;
    color: #5c5555;
}

.enter-class-btn {
    background-color: #c26381;
    color: white;
    padding: 12px 35px;
    border-radius: 30px;
    border: none;
    font-size: 1.1rem;
    text-transform: uppercase;
    transition: background-color 0.2s ease-in-out;
}

.new-btn {
    background-color: #c26381;
    color: white;
    margin-left: 10px;
    font-size: 1.3rem;
    padding: 4px 6px;
}

.new-btn:hover {
    background-color: #ac5c76 !important;
    color: white;
}

.new-btn:active {
    background-color: #ac5c76 !important;
    color: white;
}

.nothing {
    text-align: center;
    margin: auto;
    margin-top: 20%;
    color: #5c5555;
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-around;
}

.enter-class-btn:hover {
    background-color: #ac5c76;
}

.modal-content {
    border-radius: 10px;
}

.modal-header {
    border-bottom: none;
}

.modal-body {
    padding: 2rem;
}

.modal-title {
    color: #5c5555;
}

.btn-primary {
    background-color: #ac5c76;
    border-color: #ac5c76;
}

.btn-primary:hover {
    background-color: #c26381;
    border-color: #c26381;
}

.btn-secondary {
    background-color: #5c5555;
    border-color: #5c5555;
}

.btn-secondary:hover {
    background-color: #6f6666;
    border-color: #6f6666;
}

.form-label {
    color: #5c5555;
}

.form-text {
    color: #6f6666;
}

@media (max-width: 768px) {
    .container {
        padding: 20px;
    }

    .nothing {
        font-size: 1.5rem !important;
    }

    .page-title {
        font-size: 1.5rem;
        margin-bottom: 2rem;
        text-align: center;
    }

    .class-icon {
        font-size: 4rem;
        margin: 0 0 15px 0;
    }

    .class-name {
        font-size: 1.5rem;
        margin-bottom: 5px;
    }

    .class-phones {
        font-size: 1rem;
        margin-bottom: 10px;
    }

    .class-card {
        padding: 20px;
    }

    .enter-class-btn {
        padding: 8px 20px;
        font-size: 1rem;
    }
}
