body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

.about-section {
    position: relative;
    padding: 80px 0;
    background-size: cover;
    background-position: center;
    color: white;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
    animation: fadeInUp 1s ease-out;
    border-radius: 30px;
}

.about-section::before {
    border-radius: 30px;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(60, 60, 60, 0.2);
    z-index: 1;
}

.about-section .content {
    position: relative;
    z-index: 2;
    padding: 20px;
    width: 80%;
}

.about-section h1 {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.about-section p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.device-section {
    padding: 60px 0;
    background-size: cover;
    background-position: center;
    text-align: left;
    animation: fadeInUp 1s ease-out;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    border-radius: 25px;
}

.device-img {
    transition: transform 0.3s ease;
    width: 400px;
    height: auto;
    border-radius: 30px;
    margin: 0 auto; /* Center the image horizontally */
}

.device-section .row {
    display: flex;
    justify-content: center; /* Center content in row */
}

.device-section h2 {
    font-size: 2.8rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.device-section p {
    font-size: 1.1rem;
}
.benefits-section {
    background-color: #f8f9fa;
    color: #333;
}

.benefits-section h2 {
    font-size: 2.5rem;
    font-weight: 700;
}

.benefit-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: white;
    border: 1px solid #e0e0e0;
}

.benefit-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.icon-container {
    font-size: 3rem;
    color: black; /* Устанавливает цвет иконок в черный */
}

.benefit-card h4 {
    font-size: 1.5rem;
    font-weight: 600;
}

.benefit-card p {
    font-size: 1rem;
    color: #666;
}

.benefit-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.icon-container {
    font-size: 3rem;
}

.icon-container i {
    transition: color 0.3s ease;
}

.benefit-card:hover .icon-container i {
    color: #6a11cb; /* Change icon color on hover */
}

.benefit-card h4 {
    font-size: 1.5rem;
    font-weight: 600;
}

.benefit-card p {
    font-size: 1rem;
    color: #666;
}

.register-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
    font-size: 1.3rem;
    font-weight: 600;
    color: white;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    border: none;
    border-radius: 50px;
    text-decoration: none;
    transition: background 0.4s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    margin-bottom: 5vh;
}

.register-btn .btn-text {
    margin-right: 10px;
}

.register-btn i {
    font-size: 1.5rem;
    transition: transform 0.3s ease;
}

.section-why-us {
    position: relative;
}

.title-section {
    margin-bottom: 35px;
    font-weight: 800;
    text-align: center;
}

.background-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.card-title {
    font-weight: 800;
    margin-bottom: 20px;
}

.feature-list {
    font-size: 1.1rem;
}

.card {
    border-radius: 15px;
    border: 3px solid hsl(321, 49%, 37%);
    padding: 25px;
    margin: 40px auto;
    box-shadow: 9px 12px 0px 0px #b1289c;
    width: 550px;
    z-index: 3;
    background-color: white;
}

.card-design {
    position: relative;
    left: -100px;
}

.card-development {
    position: relative;
    left: 100px;
}

.card-support {
    position: relative;
    left: -80px;
}

.image-sticky {
    position: sticky;
    top: 45%;
    width: 280px;
}

.image-bottom-right {
    position: absolute;
    width: 480px;
    bottom: 0;
    right: 0;
    filter: hue-rotate(330deg);
}

.margin-top {
    margin-top: 50px;
}

@media(max-width: 768px) {
    .card {
        width: 100%;
        box-shadow: 9px 12px 0px 0px #b1289c;
    }

    .card-design,
    .card-development,
    .card-support {
        left: 0;
    }
    .image-sticky, .image-bottom-right {
        display: None;
    }
    .device-text {
        margin-top: 30px;
    }
    .about-section h1{
        font-size: 2.5rem;
    }
    .about-section p{
        font-size: 1rem;
    }
    .about-section .content {
        width: auto;
    }

}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
