{% extends "base.html" %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/phone.css') }}">
</head>
<div class="container my-5">
    <h1 class="text-center">{{ _('Phone History') }}</h1>
    {% if history %}
        <div class="timeline">
            {% for date, events in history.items() %}
            <div class="date-header">
                <h3>{{ date }}</h3>
            </div>
                {% for event in events %}
                <div class="timeline-item">
                    <div class="timeline-content">
                        <div class="time-record">
                            <span class="date">{{ event[1].split(' ')[0] }}</span>
                            <span class="time">{{ event[1].split(' ')[1] }}</span>
                        </div>
                        <h5 style="color:#5c5555">{{ _('Return phone!') if event[0] else _('Put phone in device!') }}</h5>
                    </div>
                </div>
                {% endfor %}
            {% endfor %}
        </div>
    {% else %}
        <h1 class="nothing">{{ _('You haven\'t got phone history!') }}</h1>
    {% endif %}
</div>
{% endblock %}
