<!doctype html>
<html lang="{{ g.locale }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body class="d-flex align-items-center py-4 bg-body-tertiary">
<main class="form-signin w-100 m-auto">
  <form action="" method="post">
    {{ form.hidden_tag() }}
    <a href="/"><img src="{{ url_for('static', filename='img/base/logo.png') }}" class="mt-4" width="200px" alt="Logo"></a>
    <h1 class="mb-4 mt-4 text1">{{ _('Log In') }}</h1>

    <div class="form-floating mb-3">
        {{ form.email(class="form-control", id="floatingEmail", placeholder=_('name@example.com'), autocomplete="email") }}
        <label for="floatingEmail">{{ _('Email') }}</label>
        {% for error in form.email.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </div>

    <div class="form-floating mb-3">
        {{ form.password(class="form-control", id="floatingPassword", placeholder=_('Password'), autocomplete="current-password") }}
        <label for="floatingPassword">{{ _('Password') }}</label>
        {% for error in form.password.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </div>

    <p style="margin: 10px;">{{ form.remember_me() }} {{ form.remember_me.label }}</p>

    <button class="btn btn-primary w-100 py-2 fs-5 fw-bold" type="submit">{{ _('Sign In') }}</button>

    <p class="mt-3">{{ _('Don\'t have an account?') }} <a href="{{ url_for('register.register') }}" class="fw-bold" style="text-decoration: none; color: #dd458d;">{{ _('Sign Up') }}</a></p>

    <div>{{ message }}</div>
  </form>
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>
